[include]
    path = .gitconfig-custom
[core]
    quotepath = true
    commitGraph = true
	excludesfile = ~/.config/git/gitignore
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    cp = cherry-pick
    df = diff
    lg = log -p
    ph = push origin HEAD
    phf = push origin HEAD --force-with-lease
    tree = log --graph --pretty=oneline --abbrev-commit --all --decorate
    stree = log --pretty=oneline --topo-order --graph --abbrev-commit
    wdiff = diff --color-words
    wmdiff = diff master --color-words
    wshow = show --color-words
    wmshow = show master --color-words
    merge = merge --ff-only
    pull = pull --rebase
    tt = timetrack
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format: %h -> { %p }' \"$@\" | sed 's/[0-9a-f]\\+/\"&\"/g' ; echo '}'; }; %f"
    conflicted = !vim +Conflicted

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[commit]
    gpgsign = true
    verbose = true
[icdiff]
    options = --highlight --line-numbers
[fetch]
    prune = true
[pull]
    rebase = true
[push]
    gpgSign = if-asked
[rebase]
    autoStash = true
[gc]
    writeCommitGraph = true
[rerere]
    enabled = true
    autoupdate = true
[advice]
	addIgnoredFile = false
[init]
	defaultBranch = main
[mergetool]
	keepBackup = false
