aiohttp
black
caldav
icalendar
ics
isort
jupyterlab
jupyterlab-drawio
jupyterlab-fonts
jupyterlab-git
jupyterlab-lsp
jupyterlab_code_formatter
jupyterlab_github
jupyterlab_theme_solarized_dark
pdpyras
pip
python-keystoneclient
python-lsp-server[all]
python-swiftclient
rich[jupyter]
sgqlc
sgqlc_schemas
webdav4[fsspec]
wheel
