pip
wheel
gnureadline
python-openstackclient
python-cinderclient
python-designateclient
python-glanceclient
python-ironicclient
python-keystoneclient
python-manilaclient
python-neutronclient
python-novaclient
python-octaviaclient
python-swiftclient
python-barbicanclient
git+https://github.wdf.sap.corp/tg17/os-client.git#egg=os_client
