pip
wheel
git+ssh://git@github.wdf.sap.corp/tg17/hammer#egg=hammer
git+ssh://git@github.wdf.sap.corp/tg17/hammer-ext-volumechecker#egg=hammer-ext-volumechecker
git+ssh://git@github.wdf.sap.corp/d042639/hammer-ext-volumetools#egg=hammer-ext-volumetools
git+https://github.tools.sap/b1-managed-service-ccee/b1-storage-tools.git#egg=shovel
